* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('ave.png') no-repeat;
  background-size: cover;
  background-position: center;
  color: #d9b1ff;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #d9b1ff;
}
.wrapper {
  width: 420px;
  border: 2px solid #d9b1ff;
  border-radius: 16px;
  padding: 2rem;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px #cc95ff79;
}

.input-box {
  width: 100%;
  height: 50px;
  padding: 3px;
  margin: 30px 0;
  position: relative;
}

.input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border: 2px solid #d9b1ff79;
  border-radius: 40px;
  font-size: 16px;
  color: #d9b1ff;
  padding: 20px 45px 20px 20px;
  background-color: #1900301e;
}

input::placeholder {
  color: #d9b1ff;
}

.input-box svg {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.btn {
  width: 100%;
  height: 45px;
  font-size: 16px;
  border: none;
  border-radius: 40px;
  color: #190030;
  outline: none;
  box-shadow: 0 0 10px #cc95ff3f;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  background-color: #cc95ff3f;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(132, 0, 255, 0.247);
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -15px 0 15px;
}

.remember-forgot input label {
  accent-color: #ffffff;
  margin-right: 3px;
}

.remember-forgot a {
  text-decoration: none;
  color: #d9b1ff;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.register-link {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.register-link p a {
  text-decoration: none;
  color: #d9b1ff;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}
